<template id="card-template">
  <a
    class="customBorder col-lg-3 col-md-5 col-sm-12 m-3 p-0"
    style="width: 18rem; text-decoration: none;"
  >
    <div class="p-1">
      <section class="w-100" style="height: 26vh; margin: 0px 0px 1vh 0px;">
        <img
          class="card-img-top img-fluid h-100"
          src="https://placehold.co/600x400"
          alt="Card image cap"
        />
      </section>
      <section class="card-body" style="height: 20vh; max-height: max-content;">
        <h5 class="card-title"></h5>
        <p class="card-text text-dark"></p>
      </section>
      <section class="card-footer h-0">
        <small class="text-muted"></small>
      </section>
    </div>
  </a>
</template>
