<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="./Index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./CarOptions.html">Car Fleet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About Us</a>
    </li>
    <li>
      <button id="login" type="submit" class="btn">
        Log In / Register
      </button>
    </li>
    <li>
      <button id="logout" type="submit" class="btn d-none">
        Log Out
      </button>
    </li>
  </ul>
</nav>
